
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

header, main {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(242, 242, 242);
}


header img{
    margin: 5px 0;
    margin-left: 30px;
}

#logo,
.vertical {
    vertical-align: middle;
}

.vertical {
    font-size: 35px;
    font-weight: 700;
}

* {
    font-family: "Rubik", sans-serif;;
}

main {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    border: 1px;
    border-radius: 5px;
}

section {
    margin-left: 20px;
}

#button {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: #45ADF1;
    padding: 7px;
    font-size: 10px;
    border-radius: 4px;
}

#section {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    color: rgb(224, 224, 224);
    background-color: #ffffff;
    padding: 5px;
    font-size: 10px;
    outline: 1px solid lightgrey;
    border-radius: 4px;
}

.label1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: #45ADF1;
    padding: 7px;
    font-size: 10px;
    border-radius: 10px;
}

.label2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: #9C73E4;
    padding: 7px;
    font-size: 10px;
    border-radius: 10px;
}

.label3{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: #64C0A9;
    padding: 7px;
    font-size: 10px;
    border-radius: 10px;
}

.label4{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: #F29E33;
    padding: 7px;
    font-size: 10px;
    border-radius: 10px;
}

.label5{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: #D963A1;
    padding: 7px;
    font-size: 10px;
    border-radius: 10px;
}

.label6{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: #B1C926;
    padding: 7px;
    font-size: 10px;
    border-radius: 10px;
}

/* hr {
    color: white;
    margin-top: 15px;
    width: 100%
} */

/* hr {
    display: none;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1em 0;
    padding: 0;
  } */

span {
    vertical-align: baseline;
}

.section {
    font-size: 25px;
    font-weight: 700;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    padding: 0;
}


.section, .triangle {
  color: rgb(69, 69, 69);
}

.check {
    color: rgb(86, 190, 86) ;
    height: 3px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgb(86, 190, 86);
    margin-right: 10px;
    padding: 1px;
}

.cross {
    color: red;
    height: 3px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 0);
    margin-right: 10px;
    padding: 2px;
}